<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotels</title>
  </head>
  <body>
    <h1>Hotels</h1>
    <div class="all_hotels">

      <% hotels.forEach(hotel, index) => {%>
        <div id="hotel-<%= index+1 %>">
          <div id="picture">
            <img src="<%= hotel.image %>" alt="<%= hotel.name %> building" />
 </div>
          <div id="hotelInfo">
            Hotel Name: <h3><%= hotel.name %></h3>

            Stars: <%for(let stars=0; stars < hotel.stars; stars++ ){ %>
                  ⭐
            <%}%> <br>
            Area: <%= hotel.area %> <br>
            Price Per night: <%= hotel.price%> <br>
            <%= hotel.reviews %>
          </div>
        </div>
     <% }%>

      </div>
    </div>

<div id="nav-bar">

  <%- include("../partials/nav.ejs") %>


</div>




  </body>
</html>
