<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Reviews</title>
</head>
<body id="reviews-page">
  <%- include("../partials/header.ejs") %>

  <h2>Reviews for <%=hotel.name%></h2>


  <p><a href="/reviews/<%=hotel._id%>/new">Post A Review</a></p>
<div id="reviews-list">
    <% if (reviews.length === 0) { %>
      <p>No reviews yet.</p>
    <% } %>

    <% reviews.forEach((review) => { %>
      <ul>
        <li>
        <a href="/reviews/<%=hotel._id%>/<%=review._id%>">
        <h3><%= review.title %></h3></a>
        <p>Rating: <%= review.rating %>/5</p>

        <% if (review.author) { %>
          <p>By: <%= review.author.username %></p>
        <% } else { %>
          <p>By: (unknown user)</p></li>
        <% } %>
      </ul>

    <% }) %>
</div>
<div class="back-suggest">
    <div id="back-btn"><p><a href="/hotels/<%=hotel._id%>">Go Back</a></p></div>
    <div id="suggest-btn"><a href="/hotels/new">Suggest A Hotel</a></div>

</div>

<%- include("../partials/footer.ejs") %>
</body>
</html>
