<%- include("../partials/header.ejs") %>
<h2>Edit Review</h2>
<h3>On <%=review.hotel.name%>:</h3>
<form
  action="/reviews/<%=review.hotel._id%>/<%=review._id%>/edit?_method=PUT"
  method="POST"
>
  <label>Title:</label>
  <input type="text" name="title" value="<%=review.title%>" required />

  <label>Rating (1-5):</label>
  <input
    type="number"
    name="rating"
    value="<%=review.rating%>"
    min="1"
    max="5"
    required
  />

  <label>Body:</label>
  <textarea name="body" rows="5" required><%=review.body%></textarea>

  <button type="submit">Update</button> <br />

  <a href="/reviews/<%=review.hotel._id%>">Cancel</a>
</form>
<%- include("../partials/footer.ejs") %>
