<%- include("../partials/header.ejs") %>

<h2><%= user.username %>'s Profile</h2>
<p>Email: <%=user.email%></p>
<a href="/users/<%=user._id%>/edit">Edit profile</a> <br />
<a href="/auth/<%=user._id%>/update-password">Update password</a> <br />
<a href="/users/<%=user._id%>/reviews">My Reviews</a>

<%- include("../partials/footer.ejs") %>
